<%= simple_form_for([@todo_list, @todo]) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :todo_item %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
